<app-tab
        [tabName]="'Tab1'"
        [tabText]="'Texto do primeiro tab'"
        (MostrarTexto)="mostrarTextoTab($event)"></app-tab>
<app-tab
        [tabName]="'Tab2'"
        [tabText]="'Texto do segundo tab'"
        (MostrarTexto)="mostrarTextoTab($event)"></app-tab>
<app-tab
        [tabName]="'Tab3'"
        [tabText]="'Texto do tercero tab'"
        (MostrarTexto)="mostrarTextoTab($event)"></app-tab>
<app-tab
        [tabName]="'Tab4'"
        [tabText]="'Texto do cuarto tab'"
        (MostrarTexto)="mostrarTextoTab($event)"></app-tab>
<p>{{texto}}</p>